<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">

<form action="/updatePassword" method="post" >
                    <div class="form-outline mb-4">
                        <input type="password" id="form7Example4" class="form-control" name="currentpassword"  style="border-color: blue;" />
                        <label class="form-label" for="form7Example4" style="color: black;" >Current Password</label>
                        {{!-- {{#if passwordchange}}
                        {{else}}
                        <span id="passerror" style="color: red;">please enter correct current password</span>
                        {{/if}} --}}
                    </div>
                    
                    <div class="form-outline mb-4">
                        <input type="password" id="form7Example4" class="form-control" name="newpassword" style="border-color: blue;" />
                        <label class="form-label" for="form7Example4" style="color: black;"> New Password</label>
                    </div>

                    <button type="submit" class="btn btn-success login-btn">Submit</button>
</form>   
</div> 
</div>
</div>